@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsla(216, 12%, 54%, 0.192);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
--standardFont:'overpass';
}

body{
    background-color: var(--VeryDarkBlue);
    font-family: Overpass;
    color:white;
    margin-top: 10rem;
    margin-left: 25rem;
    
}
#card{
    background-color: var(--DarkBlue);
    border-radius: 20px;
    width:50%;
    height:auto;
    margin:5px;
   /* background-image: linear-gradient(45deg,--DarkBlue 32%, --MediumGrey 45%);
    background-repeat: no-repeat; */
}
div #orangeStarSection{
    padding-left:30px;
    padding-top:30px;
}
#star{
    background-color: var(--MediumGrey);
    padding:20px;
    border-radius: 50%;
    
}
#mainText {
    margin-left:25px;
}
#mainText h1{
    font-size: 25px;
    
}
#mainText p{
    font-size: 15px;
    color:gray;
    padding-right:20px;
}

#customerRating{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    background-color: none;
    
}
.score{
    background-color: var(--MediumGrey);
    border-style: none;
    padding: 20px;
    border-radius: 50%;
    font-size:15px;
    font-family: overpass;
    color:gray;
    cursor:pointer;
}
.score:hover{
    background-color: var(--Orange);
    color:white;

}
#submitBtn{
    background-color: var(--Orange);
    border-style: none;
    width:90%;
    font-family: Overpass;
    font-weight:700;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:5%;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor:pointer;
}

#submitBtn:hover{
    background-color:white;
    color:var(--Orange);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 601px) and (max-width: 934px){
    body{
        background-color: var(--VeryDarkBlue);
        font-family: Overpass;
        color:white;
        margin-left:6%;
        margin-right:5%;
     
    }
    .score{
        background-color: var(--MediumGrey);
        border-style:none;
        padding: 25px;
        border-radius: 50%;
        font-size:10px;
        font-family: overpass;
        color:gray;
        cursor:pointer;
    }
    #card{
        background-color: var(--DarkBlue);
        border-radius: 10px;
        width:90%;
        height:auto;
        padding:10px;
        margin-top:0rem;
    }
}    

@media (max-width: 600px){/*  para responsividade em telas pequenas */
    body{
        background-color: var(--VeryDarkBlue);
        font-family: Overpass;
        color:white;
        margin-left:6%;
        margin-right:5%;
     
    }
    #card{
        background-color: var(--DarkBlue);
        border-radius: 10px;
        width:90%;
        height:auto;
        padding:10px;
        margin-top:0rem;
    }
    .score{
        background-color: var(--MediumGrey);
        border-style: none;
        padding: 15px;
        border-radius: 50%;
        font-size:10px;
        font-family: overpass;
        color:gray;
        cursor:pointer;
    }
}